img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
:root {
  --background-color: #000;
  --text-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.testimonials {
  margin: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}
.testimonial1 {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

/* card1 */
.card1 {
  padding: 10px;
}
.card1-info {
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: inset;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}
.card1-info::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 1rem;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  border-top: 20px solid black;
}
.card1-profile {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 10px;
}
.card1-profile-details {
  display: flex;
  flex-direction: column;
}
.card1-profile-details > p {
  font-weight: bold;
  font-size: small;
}

/* card_2 */
.card2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 25px;
  padding: 20px;
}
.card2-profile {
  display: flex;
  gap: 20px;
  align-items: center;
}
.card2-profile-details > p {
  font-size: small;
  font-weight: bold;
}

.card3 {
  display: flex;
}
.card3 > img {
  width: 300px;
  height: 300px;
  border-radius: 25px;
  margin-right: 20px;
}
.card3-details {
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 25px;
  padding: 20px;
}
.card3-star {
  font-size: x-large;
}
.card3-details > h2,
p {
  margin-bottom: 10px;
  font-size: large;
}
.card3-profession {
  color: gray;
}

.card-4 {
  border: 2px solid black;
  border-radius: 25px;
  padding: 20px 40px;
  text-align: center;
  margin-bottom: 40px;
}
.card-4-profile {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}
.card-4-profile::before {
  content: "<";
  font-size: large;
  font-weight: bold;
  transform: translateX(-20px);
}
.card-4-profile::after {
  content: ">";
  font-size: large;
  font-weight: bold;
  transform: translateX(20px);
}
.img1,
.img3 {
  opacity: 0.5;
  width: 40px;
  height: 40px;
}
